<p style="color: green"><%= notice %></p>

<%= render @boat %>

<div>
  <%= link_to "Edit this boat", edit_boat_path(@boat) %> |
  <%= link_to "Back to boats", boats_path %>

  <%= button_to "Destroy this boat", @boat, method: :delete %>
</div>
