<div id="<%= dom_id dock %>">
  <p>
    <strong>Unit:</strong>
    <%= dock.unit %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= dock.cost %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= dock.availability %>
  </p>

  <p>
    <strong>Boat:</strong>
    <%= dock.boat_id %>
  </p>

  <p>
    <strong>Dock size:</strong>
    <%= dock.dock_size %>
  </p>

</div>
